*.o
.deps
Makefile*
utils/compile
utils/depcomp
utils/install-sh
utils/missing
aclocal.m4
autom4te.cache/
config.h
config.log
config.status
config.h.in
configure
src/datarecevier
.idea
CMakeLists.txt
.project
